<div class="col-lg-2 text-center mt-5">
	<a href="https://portal.totalcryptos.com/bitcoin-trend-bot"><img src="/images/BitcoinTrendBot_sq.jpg" alt="ads" width="100%"></a>
	<br/></br>
	<a href="https://portal.totalcryptos.com/pro-data-service"><img src="/images/ProDataService1.jpg" alt="ads" width="100%"></a>
</div>  