<% if(typeof path =='undefined' || path!=='/fix'){ %>
<div class="pb-3 fader_sidebar" style="text-align:center;">
<a href="https://portal.totalcryptos.com/bitcoin-trend-bot" style="display:block;"><img src="/images/BitcoinTrendBot_sq.jpg" alt="ads" width="100%" class="ads-img"></a>
<a href="https://www.cryptohopper.com/?atid=6493" title="Cryptohopper Trading Bot" target="_blank" rel="nofollow"><img src="https://cdn.cryptohopper.com/images/marketing/180x180.jpg" alt="Cryptohopper Trading Bot" width="100%" class="ads-img"/></a> 
<a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service"><img src="/images/ProDataService1.jpg" alt="ads" width="100%" class="ads-img"></a>
</div> 
<%} else {%>
<div class="pb-3 fader_sidebar">
<a href="https://portal.totalcryptos.com/bitcoin-trend-bot" style="display:block;" ><img src="/images/BitcoinTrendBot_sq.jpg" alt="ads" width="100%" class="ads-img"></a> 
</div> 
<%}%>
	
 