<div class="container-fluid">
    <div class="row">
       <div class="col-lg-4 mb-4 mt-4 fader1">
			<% if(typeof path =='undefined' || path=='/'){ %>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank" style="display:inline;"><img src="/images/JoinNowBanner1.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank" style="display:none;"><img src="/images/JoinNowBanner2.jpg" alt="membership" class="ads-img"></a>
			<% }else{ %>
			<a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service" target="_blank" style="display:inline;"><img src="/images/zdatabanner1.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank" style="display:none;"><img src="/images/membersbanner3.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank" style="display:none;"><img src="/images/membersbanner4RETINA2x.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/blockpad-personal-ledger-and-encryption-tool" target="_blank" style="display:none;"><img src="/images/blockpadRETINA2x.jpg" alt="membership" class="ads-img"></a>
			<% }%>
       </div>
	    <div class="col-lg-4 mb-4 mt-4 fader2">
			<a href="https://portal.totalcryptos.com" target="_blank"><img src="/images/Buttons_Option_5_green.png" alt="membership" id="option_5_green_blue" data-alt-src="/images/Buttons_Option_5_blue.png"></a>
       </div>
	    <div class="col-lg-4 mb-4 mt-4 fader3">
			<a target="_blank" href="https://shareasale.com/r.cfm?b=1144511&amp;u=1244559&amp;m=41388&amp;urllink=&amp;afftrack=" style="display:inline;"><img src="https://static.shareasale.com/image/41388/YourWordPressDXP320x50.png" border="0" alt="membership" class="ads-img" style="margin-top:12px;"/></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank"  style="display:none;"><img src="/images/membersbanner4RETINA2x.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/blockpad-personal-ledger-and-encryption-tool" target="_blank" style="display:none;"><img src="/images/blockpadRETINA2x.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-membership" target="_blank" style="display:none;"><img src="/images/membersbanner3.jpg" alt="membership" class="ads-img"></a>
			<a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service" target="_blank" style="display:none;"><img src="/images/zdatabanner1.jpg" alt="membership" class="ads-img"></a>
       </div>
    </div>
</div>