<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="row total_crypto_price_div">
		<div class="col-lg-1 col-md-1 col-sm-1">
			<h3><strong><a href="/"><img src="/images/LogoSmall.png" width="116px" height="50px" alt="TotalCryptos"></a></strong></h3>
		</div>
		<div class="col-lg-11 col-md-11 col-sm-11 nav-bar-float">
			<div class="col-lg-4 col-md-4 col-sm-4 center">
				<h3><a href="/tc-history">Price of TC 100: <strong>$<span class="tc100"><%=cryptoData.tc100%></span></strong></a></h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 center">
				<h3><a href="/tc-history">Total Market Cap in USD: <strong>$<span class="total_usd_market_cap"><%=cryptoData.total_usd_market_cap%></span></strong></a></h3>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 center">
				<h3>
				<a href="/tc-history">TCw100: <strong><span class="tcw100"><%=cryptoData.tcw100%></span></strong></a>
				<span style="margin-left:50px;"><a href="/api/documentation">API</a></span>
				</h3>
			</div>
		</div>	
	</div>
	
	<!--<div class="row">
		<div class="col-md-4">
			<div class="navbar-header">
			  <a class="navbar-brand" href="/"><img src="/images/logo.jpg" /></a>
			</div>
		</div>
		<div class="col-md-4 center">
			<h2><b>Total Cryptos Market Data</b></h2>	
			<!--<ul class="nav navbar-nav">
			  <li class="active"><a href="#">Home</a></li>
			  <li><a href="#">Page 1</a></li>
			  <li><a href="#">Page 2</a></li>
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="nav navbar-nav navbar-right">
			  <li><a href="/apidocumentation"></span>API</a></li>
			  <!--<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
			</ul>
		</div>
	</div>-->
	
  </div>
</nav>