<main class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 pl-0">

				<div class="card card-table-pane table-scrolling">
					<div class="card-body">
						<div class="card-header">
							<h4 class="card-title">About US</h4>
						</div>
						<div class="row">
					<div class="col-lg-12">
						<p class="text-justify">
						<br>
							<strong>Total Cryptos (TC)</strong> @ <a href="/">www.totalcryptos.com</a> is a data information analysis engine built and maintained by <strong>Bloc10</strong> a Blockchain FinTech Cryptocurrency Development company.  Total Cryptos aggregates Cryptocurrency data from major exchanges and combines them into our own <strong>“Total Cryptos”</strong> price.  As there is no central exchange for Crypto currencies, prices can vary from exchange to exchange.  So we provide both raw prices and their sources on our website <a href="/">www.totalcryptos.com</a> as well as our own aggregated price referenced as <strong><abbr title="Total Criptos">"TC"</abbr></strong> or <strong>“Total Cryptos.”</strong>  Finally, we provide this price for use on your own website via free API service.  Our development teams are always working on other ways to serve data, such as our upcoming wordpress widget.  > 80% of the world’s websites are powered by Wordpress, so by offering a Wordpress widget we are offering any website owner the ability to tap into Total Cryptos data and pricing engine via <strong>free</strong> plugin.
						</p>
						<h6>
							Total Cryptos.  Information.  Decision.  Results.
						</h6>
						<h5 style="border-bottom-style: ridge;">About our Indexes</h5>
						<h5>Total Cryptos offers 2 market indexes:</h5>
						<h5>TC100 and TCw100 </h5>  
					</div>
				</div> 
				<div class="row">
					<div class="col-lg-12">
						<br>
						<p class="text-justify"><strong>TC100</strong> is the top 100 Crypto/USD (by market cap) divided by 100, providing an index price of (currently) $106.  Similar to common indexes such as the Dow Jones Industrial Average, the <strong>TC100</strong> provides investors a way to follow the Crypto market as a whole.  Day to day individual Cryptos may go up or down based on their individual news but the index is a broader view of the market. <strong>SUM ( nPrice ) / 100</strong></p>

						<p class="text-justify"><strong>TCw100</strong> is weighted, meaning that the larger the market cap, the more value is given to that Cryptocurrency.  As of this writing, Bitcoin <strong>(BTC/USD)</strong> is roughly 44% of all market value in the Crypto market, which is more than all the competition combined.  But it is a rapidly evolving market and this is not likely to remain the same.  The formula is <strong>SUM ( nPrice x ((Sum nMarketCap)/100)) ) / 100</strong> such that Sum <strong>nMarketCap/100</strong> becomes a weighted value.  Bitcoin will have a higher weight because the market cap will be a higher % and thus more significant.</p>

						<p class="text-justify">Total Cryptos is a commercial copyright work-product of Bloc10 a Delaware Corporation operating in Atlanta, GA.  For more information on <a href="http://bloc10.com/">Bloc10</a> visit <a href="http://bloc10.com/">www.bloc10.com</a></p>
					</div>
				</div>
					</div>
				</div>
			</div>
			<div class="col-lg-2 text-center mt-5 pl-0 pr-0">
				<div class="row">
					<div class="col-lg-12">
						<img src="/images/about.png" width="100%" />
					</div>
				</div><br/>
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div>		
	</div>
</main>	
	