<div id="wrapper">

	<div class="animated fadeInRight">
		<div class="row api">
		<div class="col-lg-10 col-lg-offset-1" style="margin-top:50px;">
			<h3><strong>Introduction</strong></h3>
			<p>The Total Cryptos APIs are designed to allow quick access to all of the features of the Total Cryptos platform. The end goal is to allow people to potentially recreate the entire platform on their own. We provides a simple and powerful REST API to allow you to programatically perform nearly all actions you can from our web interface.</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			<h3><strong>Rate Limits</strong></h3>
			<p>We have allowed maximum 10 requests per minute per IP address for any REST API. If an IP address exceeds the limit to a specific REST API endpoint e.g., /symbolsUSDPrices, it will send an error message with error code.</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			<h3><strong>Root URL</strong></h3>
			<p>http://totalcryptos.com/api/</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			<h3><strong>Error Codes</strong></h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>Error Code</th>
					<th>Message</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				<tr>
				<td>1</td>
				<td>Request processed successfully.</td>
				<td>Data requested may or may not be available depending on request.</td>
				</tr>
				<tr>
				<td>300</td>
				<td>Api call limit exceeded.</td>
				<td>If an API has been called more than 10 times within 60 seconds.</td>
				</tr>
				<tr>
				<td>404</td>
				<td>Record not found.</td>
				<td>If no record found for API request.</td>
				</tr>
				<tr>
				<td>500</td>
				<td>Server error. Please try again.</td>
				<td>This response is being sent due to some internal/unknown errors. If you get this error, please let us know about it.</td>
				</tr>
				</tbody>
			</table>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Total Crypto Price API</strong></h3>
			 <p>This API provides index price.</p>
			 <b>End Point</b>: tcPrices<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/tcPrices<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":[{...},...]}</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Currencies Prices API</strong></h3>
			 <p>This API provides USD price of crypto currencies.</p>
			 <b>End Point</b>: symbolsUSDPrices<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/symbolsUSDPrices<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":[{...},...]}</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Currency Price API</strong></h3>
			 <p>This API provides USD price of any specific crypto currency.</p>
			 <b>End Point</b>: symbolsUSDPrices/{currency}<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/symbolsUSDPrices/{currency}<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":{...}}</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Products Prices API</strong></h3>
			 <p>This API provides prices of crypto products(pairs).</p>
			 <b>End Point</b>: productsPrices<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/productsPrices<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":[{...},...]}</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Product Price API</strong></h3>
			 <p>This API provides price of any specific crypto product(pair).</p>
			 <b>End Point</b>: productsPrices/{product}<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/productsPrices/{product}<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":{...}}</p>
		</div>
		
		<div class="col-lg-10 col-lg-offset-1">
			 <p><h3><strong>Totalcryptos History (24h)</strong></h3>
			 <p>This API provides history of TC100, TCw100 and Total market Capitlization.</p>
			 <b>End Point</b>: tcHistory24H<br/>
			 <b>Request URL</b>: http://totalcryptos.com/api/tcHistory24H<br/>
			 <b>Response</b>: {"errCode":1,"message":"request processed successfully.","data":{...}}</p>
		</div>
		
		</div>
	</div>
	
</div>

