<main class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-table-pane">
							<div class="card-body">
								<div class="col-lg-12"><h5><strong id="name"></strong></h5></div>
								<div class="col-lg-12"><h6 id="url"></h6></div>
								<div class="col-lg-12"></div>
								<div class="col-lg-12">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover exchange" >
									<thead>
									<tr>
										<th>#</th>
										<th>Currency</th>
										<th>Pair</th>
										<th>Volume (24h)</th>
										<th>Price</th>
										<th>Volume (%)</th>
									</tr>
									</thead>
									<tbody id="exchange_data">
										<tr>
											<td colspan="6" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
										</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
		<div class="col-lg-2 text-center mt-5">
			<%- partial('./partials/ads.ejs') %>
		</div>
	</div>
</main>
<script>
var exchangeName='<%=exchangeName%>';
$(document).ready(function(){
	$.ajax({
		type:'GET',
		url:'/exchange_data/'+exchangeName,
		success:function(data){
			var str='';
			$("#name").html(data.name);
			$("#url").html('<a href="'+data.url+'">'+data.url+'</a>');
			data.data.forEach(function(summary,index){
				str+='<tr>';
				str+='<td>'+(index+1)+'</td>';
				str+='<td>';
				if((summary.currency!=undefined) && (summary.currency.match(/^[0-9a-zA-Z]+$/))){
				str+='<a href="/volume-24-hour-currency/'+summary.currency+'">';
				str+=summary.currency;
				str+='</a>';
				}
				else{
				str+=summary.currency;
				}
				str+='</td>';
				str+='<td>';
				str+='<a href="/volume-24-hour-market/'+summary.pair.replace(/\W/g, '').replace('_', '')+'">';
				str+=summary.pair;
				str+='</a>';
				str+='</td>';
				str+='<td>'+summary.volume+'</td>';
				str+='<td>'+summary.price+'</td>';
				str+='<td>'+summary.variation+'</td>';
				str+='</tr>';
			
			});
			
			
			$("#exchange_data").html(str);
			
			$('.exchange').DataTable({
				pageLength: 50,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{
					'bSortable': false,
					'aTargets': [0] 
				}],
				order: [],
				buttons: [
					//{extend: 'copy'},
					{extend: 'csv'},
					{extend: 'excel', title: 'TotalCryptos.com'},
					{extend: 'pdf', title: 'TotalCryptos.com'},

					//{extend: 'print',
					 //customize: function (win){
						//$(win.document.body).addClass('white-bg');
						//$(win.document.body).css('font-size', '10px');
						//$(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
					//}
					//}
				]
			});
		}
	});
});

</script>

