
<main class="main-content">
<!--<%- partial('./partials/banner-ads.ejs') %>-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="text-align:justify;margin-top:15px;">
				<p><strong>BIT FIX is the Official FIX for Crypto Currencies, hosted at <a href="http://totalcryptos.com/fix">http://totalcryptos.com/fix</a> posted every day at 4:00 EST (NYC Time) Daily 7 days a week. BIT FIX includes the FIX in major currencies, on major Cryptos. For additional currencies or to list your own token as part of the FIX, <a href="http://bloc10.com/contact/">contact Bloc10</a> or signup for <a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service">zDATA</a>. <a href="https://portal.totalcryptos.com/bit-fix-benchmark">Click here to learn more about the BIT FIX service.</a></strong></p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<!-- TOTAL CRYPTOS TABLE -->
				<div class="row" id="coins">
					<div class="col-lg-12 card card-table-pane" style="margin-top:0 !important; padding: 0;">
						<div class="card-body">
							<div class="card-header">
								<div class="row">
									<div class="col-md-4">
									</div>
									<div class="col-md-4" style="text-align:center;">
										<h5>
											<span style="font-size:20px;font-weight:bold;">DATA REFRESH IN
											</span>
										</h5>
										<h5>
											<span style="font-size:16px;font-weight:bold;">Next Bit Fix in
											</span>
										</h5>
										<span id="refresh_timer"><img src="/images/data-loader.gif"/></span>
									</div>
									<div class="col-md-4" style="font-size:23px;color:#000000;font-weight:bold;">
										<span id="cur_time"><img src="/images/data-loader.gif"/></span><span>&nbsp;(EDT)</span><br/>
										<span style="font-size:20px;font-weight:bold;color:#4f5f6f;">Time In New York, NY</span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<h5 class="card-title">THE BIT FIX</h5>
									</div>
								</div>
							</div> 

							<div id="fix-table_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;">
								<table class="display table-custom dataTable no-footer fixprice" style="width: 100%;overflow:auto;" role="grid">
									<thead>
										<tr role="row">
											<th class="sorting" tabindex="0" aria-controls="fix-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 60px;">Name</th>
											<th class="sorting" tabindex="0" aria-controls="fix-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 60px;">Pair</th>
											<th class="sorting" tabindex="0" aria-controls="fix-table" rowspan="1" colspan="1" aria-label="Price USD: activate to sort column ascending" style="width: 120px;">Price</th>
											<th class="sorting_disabled sorting" tabindex="0" aria-controls="fix-table" rowspan="1" colspan="1" aria-label="Chart 1d: activate to sort column ascending" style="width: 90px;">Date</th></tr>
									</thead>
									<tbody  id="fix_market_summary"> 
									</tbody>
								</table>
							</div>
							<div class="row" style="margin-top:20px;">
								<div class="col-md-12">
									<p><strong>BIT FIX data provided by Total Cryptos zDATA engine. For real-time BIT FIX price updates at the close, historical BIT FIX data and more, see <a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service">Total Cryptos zDATA product</a>.</strong></p>
									
									<p style="font-size:14px;">BIT FIX IS THE COPYRIGHT WORK-PRODUCT OF BLOC10 LLC AS FILED WITH THE UNITED STATES COPYRIGHT OFFICE @ COPYRIGHT.GOV - BY VIEWING THIS WEB-PAGE YOU WAIVE YOUR RIGHTS TO ARBITRATION SHOULD YOU UNDULY MISUSE ANY CONTENT HEREIN INCLUDING BUT NOT LIMITED TO THE UNAUTHORIZED REPRODUCTION OR USE. VIOLATORS WILL BE PROSECUTED UNDER THE FULL EXTENT OF THE LAWS OF THE UNITED STATES OF AMERICA AND IF OUTSIDE THE UNITED STATES AT THE INTERNATIONAL COURT OF JUSTICE, THE HAGUE, NETHERLANDS, EUROPEAN UNION. NO ATTEMPT WHATSOEVER SHOULD BE MADE TO REPLICATE, COPY, REVERSE ENGINEER, MODIFY, OR OTHERWISE MAKE A CLONE OF MATERIAL PRESENTED ON <a href="https://totalcryptos.com/fix">TOTALCRYPTOS.COM/FIX</a> OR ANY PAGE THAT IS LINKED FROM HERE, INCLUDING PRIVATE INFORMATION PROVIDED TO ZDATA CUSTOMERS <a href="https://portal.totalcryptos.com/">@ PORTAL.TOTALCRYPTOS.COM</a></p>
								</div>
							</div>
							<div id="fix-table2_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;">
								<table class="display table-custom dataTable no-footer fixprice2" style="width: 100%;overflow:auto;" role="grid">
									<thead>
										<tr role="row">
											<th class="sorting" tabindex="0" aria-controls="fix-table2" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 60px;">Name</th>
											<th class="sorting" tabindex="0" aria-controls="fix-table2" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 60px;">Pair</th>
											<th class="sorting" tabindex="0" aria-controls="fix-table2" rowspan="1" colspan="1" aria-label="Price USD: activate to sort column ascending" style="width: 120px;">Price</th>
											<th class="sorting_disabled sorting" tabindex="0" aria-controls="fix-table" rowspan="1" colspan="1" aria-label="Chart 1d: activate to sort column ascending" style="width: 90px;">Date</th></tr>
									</thead>
									<tbody  id="fix_market_summary2"> 
									</tbody>
								</table>
							</div>
							<div class="row" style="margin-top:20px;">
								<div class="col-md-12">
									<p><strong>Get your token listed on BIT FIX with <a href="https://portal.totalcryptos.com/total-cryptos-professional-data-service">Total Cryptos zDATA</a>.</strong></p>
								</div>
							</div>
							<div class="row" style="margin-top:20px;">
								<div class="col-md-12">
									<img src="/images/bitfix.jpg" style="width:100%;"/>
								</div>
							</div>							
						</div>
					</div>					
				</div>
			</div>
			<div class="col-lg-2 text-center pl-0 pr-0">
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div> 
	</div>
</main>

<script>

$(document).ready(function(){
	
	$('#fix_market_summary').html('<tr><td colspan="6" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	
	$('#fix_market_summary2').html('<tr><td colspan="6" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	
	$.ajax({
		type:'GET',
		url:'/fix_data/databysymbol/BTC',
		success:function(data){ 
			var str='';
			var i=0;
			if(data.prices){
			
				$("#refresh_timer").countdowntimer({
					hours:data.hours,
					minutes:data.minutes,
					seconds:data.seconds,
					expiryUrl:'/fix'
				});
				
				$("#cur_time").remoteTime({
					key: "AIzaSyBA92zhbKd9NFAembB-DLv5iv2GoVnhRn8",
					location: "New York, NY",
					format: "g:i A <br/> l, F jS Y"
				});
			
				data.prices.forEach(function(record,index){
					record.prices.forEach(function(summary,index){
						var even_odd_class='even';
						if(i%2==0){
							even_odd_class='odd';
						}
						i++;
						str+='<tr role="row" class="'+even_odd_class+'" id="'+record.currency+summary.currency+'_fix">';
						str+='<td class="text-bold">';
						str+='<img src="/images/currencies/'+record.currency.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
						str+='&nbsp;&nbsp;';
						str+=record.currency;
						str+='</td>'; 
						str+='<td>';
						str+=record.currency+summary.currency;
						str+='</td>';
						str+='<td class="text-bold" id="'+summary.product+'_price_fix">';
						str+='<img src="/images/currency_symbols/'+summary.currency.toLowerCase()+'.png" width="12px" height="12px" onError="" />';
						str+='<span style="color:#000;">'+format_numbers(parseFloat(summary.price).toFixed(2))+'</span>';
						str+='</td>';
						str+='<td>';
						str+=data.date_created;
						str+='</td>';
						str+='</tr>';
					});
				});
			}
			$('#fix_market_summary').html(str);
			
			$('.fxprice').DataTable({
				"paging":   false, 
				"info":     false,
				//"searching": false,
				"aaSorting": [],
				dom: 'Bfrtip',
				buttons: [
					'csv', 'excel', 'pdf', 'print'
				]
			});
		}
	});	
	
	var str='';
	var temp_counter=0;
	var other_currencies=['ETH','XRP','BCH','EOS','XLM','LTC','ADA'];
		
	other_currencies.forEach(function(currency_name,index){
		$.ajax({
			type:'GET',
			url:'/fix_data/databysymbol/'+currency_name,
			success:function(data){
				var i=0;
				temp_counter=temp_counter+1;
				if(data.prices){
					data.prices.forEach(function(record,index){
						record.prices.forEach(function(summary,index){
							var even_odd_class='even';
							if(i%2==0){
								even_odd_class='odd';
							}
							i++;
							str+='<tr role="row" class="'+even_odd_class+'" id="'+record.currency+summary.currency+'_fix">';
							str+='<td class="text-bold">';
							str+='<img src="/images/currencies/'+record.currency.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
							str+='&nbsp;&nbsp;';
							str+=record.currency;
							str+='</td>'; 
							str+='<td>';
							str+=record.currency+summary.currency;
							str+='</td>';
							str+='<td class="text-bold" id="'+summary.product+'_price_fix">';
							str+='<img src="/images/currency_symbols/'+summary.currency.toLowerCase()+'.png" width="12px" height="12px" onError="" />';
							str+='<span style="color:#000;">'+format_numbers(parseFloat(summary.price).toFixed(2))+'</span>';
							str+='</td>';
							str+='<td>';
							str+=data.date_created;
							str+='</td>';
							str+='</tr>';
						});
					});
				}
				
				if(temp_counter==other_currencies.length){
					$('#fix_market_summary2').html(str);
					$('.fxprice2').DataTable({
						"paging":   false, 
						"info":     false,
						//"searching": false,
						"aaSorting": [],
						dom: 'Bfrtip',
						buttons: [
							'csv', 'excel', 'pdf', 'print'
						]
					});
				}
				
			}
		});
	});
});

function format_numbers(number){
	return number.replace(/\d(?=(\d{3})+\.)/g, '$&,');
}

</script>