<main class="main-content">     
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-table-pane">
							<div class="card-body">
								<div class="card-header">
									<h5 class="card-title">GAINERS</h5> 
								</div>
								<div class="sub-menu">
								   <ul class="nav nav-tabs">
									  <li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#1h_gainer_div">1 Hour</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#24h_gainer_div">24 Hour</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#7d_gainer_div">7 Day</a>
									  </li> 
									</ul>
								</div>
								<div class="tab-content" style="margin-top:20px;">
									<div class="tab-pane active" id="1h_gainer_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
												<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%1h</th>
												</tr>
											</thead>
											<tbody id="1h_gainer_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
									<div class="tab-pane" id="24h_gainer_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
												<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%24h</th>
												</tr>
											</thead>
											<tbody id="24h_gainer_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
									<div class="tab-pane" id="7d_gainer_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
												<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%7 dh</th>
												</tr>
											</thead>
											<tbody id="7d_gainer_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
								</div>
								
								<h5 class="card-title">LOSERS</h5> 
								<div class="sub-menu">
								   <ul class="nav nav-tabs">
									  <li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#1h_loser_div">1 Hour</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#24h_loser_div">24 Hour</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#7d_loser_div">7 Day</a>
									  </li> 
									</ul>
								</div>
								
								<div class="tab-content" style="margin-top:20px;">
									<div class="tab-pane active" id="1h_loser_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%1h</th>
												</tr>
											</thead>
											<tbody id="1h_loser_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
									<div class="tab-pane" id="24h_loser_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%24h</th>
												</tr>
											</thead>
											<tbody id="24h_loser_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
									<div class="tab-pane" id="7d_loser_div">
										<div class="dataTables_wrapper no-footer">
											<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">
											<thead>
											<tr role="row">
												<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending">Name</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending">Symbol</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending">Price</th>
												<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending">%7d</th>
												</tr>
											</thead>
											<tbody id="7d_loser_data">
												<tr>
													<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>	
			<%- partial('./partials/ads.ejs') %>
		</div>	
	</div>
</main>
<script>
$(document).ready(function(){

	$.ajax({
		type:'GET',
		url:'/gainers_and_losers_data',
		success:function(data){  
			var str='';
			if(data.gainers_1h){
				data.gainers_1h.forEach(function(gainer,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+gainer.name+'</b></td>';
					str+='<td>'+gainer.symbol+'</td>';
					str+='<td>'+parseFloat(gainer.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:green;font-weight:bold;">'+gainer.percent_change_1h+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#1h_gainer_data").html(str);
		
			str='';
			if(data.gainers_24h){
				data.gainers_24h.forEach(function(gainer,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+gainer.name+'</b></td>';
					str+='<td>'+gainer.symbol+'</td>';
					str+='<td>'+parseFloat(gainer.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:green;font-weight:bold;">'+gainer.percent_change_24h+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#24h_gainer_data").html(str);
		
			str='';
			if(data.gainers_7d){
				data.gainers_7d.forEach(function(gainer,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+gainer.name+'</b></td>';
					str+='<td>'+gainer.symbol+'</td>';
					str+='<td>'+parseFloat(gainer.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:green;font-weight:bold;">'+gainer.percent_change_7d+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#7d_gainer_data").html(str);
		
			str='';
			if(data.losers_1h){
				data.losers_1h.forEach(function(loser,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+loser.name+'</b></td>';
					str+='<td>'+loser.symbol+'</td>';
					str+='<td>'+parseFloat(loser.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:red;font-weight:bold;">'+loser.percent_change_1h+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#1h_loser_data").html(str);
			
			str='';
			if(data.losers_24h){
				data.losers_24h.forEach(function(loser,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+loser.name+'</b></td>';
					str+='<td>'+loser.symbol+'</td>';
					str+='<td>'+parseFloat(loser.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:red;font-weight:bold;">'+loser.percent_change_24h+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#24h_loser_data").html(str);
			
			str='';
			if(data.losers_7d){
				data.losers_7d.forEach(function(loser,index){
					var even_odd_class='even';
					if(index%2==0){
						even_odd_class='odd';
					}
					str+='<tr role="row" class="'+even_odd_class+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td><b>'+loser.name+'</b></td>';
					str+='<td>'+loser.symbol+'</td>';
					str+='<td>'+parseFloat(loser.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:red;font-weight:bold;">'+loser.percent_change_7d+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#7d_loser_data").html(str);
			
			$('.dataTable').DataTable({
				pageLength: 10,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{
					'bSortable': false,
					'aTargets': [0] 
				}],
				"ordering": false,
				buttons: [
					//{extend: 'copy'},
					{extend: 'csv'},
					{extend: 'excel', title: 'ExampleFile'},
					{extend: 'pdf', title: 'ExampleFile'},

					//{extend: 'print',
					 //customize: function (win){
						//$(win.document.body).addClass('white-bg');
						//$(win.document.body).css('font-size', '10px');
						//$(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
					//}
					//}
				]
			});
		}
	});	
});
</script>

