<main class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-6">
						<div class="card card-table-pane">
							<div class="card-body">
								<div class="card-header">
									<h5 class="card-title">BIG GAINERS</h5>
									<i class="fa fa-window-minimize minimize" data-toggle="collapse" data-target="#bigGainers" aria-expanded="false" aria-controls="collapseExample"></i>
								</div>
								<div class="collapse show card-content" id="bigGainers">
									<div id="bigGainers-table_wrapper" class="dataTables_wrapper no-footer">
										<table class="display table-custom dataTable no-footer bigGainers" style="width: 100%;" role="grid">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
													<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 176px;">Symbol</th>
													<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 209px;">%24h</th>
												</tr>
											</thead>
											<tbody id="gainers_24_h"> 
											</tbody>
										</table>
									</div>
										
									<div class="card-footer">
										<a href="/gainers" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card card-table-pane">
							<div class="card-body">
								<div class="card-header">
									<h5 class="card-title">BIG LOSERS</h5>
									<i class="fa fa-window-minimize minimize" data-toggle="collapse" data-target="#bigLoosers" aria-expanded="false" aria-controls="collapseExample"></i>
								</div>
								<div class="collapse show card-content" id="bigLoosers">
									<div id="bigLoosers-table_wrapper" class="dataTables_wrapper no-footer">
										<table class="display table-custom dataTable no-footer bigLoosers" style="width: 100%;" role="grid">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="bigLoosers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 45px;">#</th>
													<th class="sorting" tabindex="0" aria-controls="bigLoosers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width: 184px;">Symbol</th>
													<th class="sorting" tabindex="0" aria-controls="bigLoosers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width: 201px;">%24h</th>
												</tr>
											</thead>
											<tbody id="losers_24_h"> 	
											</tbody>
										</table>
									</div>	
									<div class="card-footer">
										<a href="/losers" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- TOTAL CRYPTOS TABLE -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-table-pane table-scrolling">
							<div class="card-body">
								<div class="card-header">
									<h5 class="card-title">TOTAL CRYPTOS PRICE</h5>
									<i class="fa fa-window-minimize minimize" data-toggle="collapse" data-target="#coins" aria-expanded="false" aria-controls="collapseExample"></i>
								</div>
								<div class="collapse show card-content" id="coins">
									<div id="totalCryptos-table_wrapper" class="dataTables_wrapper no-footer">
										<table class="display table-custom dataTable no-footer totalcryptospricepairs" style="width: 100%;" role="grid">
											<thead>
												<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending" style="width: 10px;">#</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 100px;">Name</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 59px;">Pair</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Price USD: activate to sort column ascending" style="width: 140px;">Price</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Volume: activate to sort column ascending" style="width: 94px;">Market Cap</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Hign: activate to sort column ascending" style="width: 121px;">Circulating Supply</th> 
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(1h): activate to sort column ascending" style="width: 103px;">Change %(1h)</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(24h): activate to sort column ascending" style="width: 112px;">Change %(24h)</th>
													<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(24h): activate to sort column ascending" style="width: 112px;">24 Hour Volume</th>
													<th class="sorting_disabled sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Chart 1d: activate to sort column ascending" style="width: 118px;">Chart 1d</th></tr>
											</thead>
											<tbody  id="totalcryptospricepairs_market_summary"> 
											</tbody>
										</table>
									</div>	
									<div class="card-footer">
										<a href="/exchange_prices/totalcryptospricepairs/details" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div> 
			</div>
			<%- partial('./partials/ads.ejs') %>
		</div> 
	</div>
</main>

<script>

$(document).ready(function(){
	//PROCESS TO FETCH GAINERS AND LOSERS
	$("#gainers_24_h").html('<tr><td colspan="3" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	$("#losers_24_h").html('<tr><td colspan="3" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	
	$.ajax({
		type:'GET',
		url:'/gainersLosers',
		success:function(data){
		
			$("#gainers_24_h").html('');
			$("#losers_24_h").html('');
		
			data.gainers.forEach(function(gainer,index){
			
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				var str='<tr role="row" class="'+even_odd_class+'">';
				str+='<td class="sorting_1">'+(index+1)+'</td>';
				str+='<td class="text-bold">';
				
				str+='<img src="/images/currencies/'+gainer.symbol.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
				str+='&nbsp;<a href="/volume-24-hour-currency/'+gainer.symbol.toUpperCase()+'">';
				str+=gainer.symbol;
				str+='</a>';
				str+'</td>';
				str+='<td><span class="market-up-text">'+gainer.percent_change_24h+'</span>'; 
				str+='<img src="/images/green-up-arrow.png" alt="green arrow"></td>';
				str+='</tr>';
				$("#gainers_24_h").append(str);
			});	

			data.losers.forEach(function(loser,index){
			
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				var str='<tr role="row" class="odd">';
				str+='<td class="sorting_1">'+(index+1)+'</td>';
				str+='<td class="text-bold">';
				str+='<img src="/images/currencies/'+loser.symbol.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
				str+='&nbsp;<a href="/volume-24-hour-currency/'+loser.symbol.toUpperCase()+'">';
				str+=loser.symbol;
				str+='</a>';
				str+='</td>';
				str+='<td><span class="market-down-text">'+loser.percent_change_24h+'</span>';
				str+='<img src="/images/red-down-arrow.png" alt="red arrow"></td>';
				str+='</tr>';
				$("#losers_24_h").append(str);
			});
			initialize_table('bigLoosers');
			initialize_table('bigGainers');
		}
	});	

	//PROCESS TO FETCH TOTAL CRYPTO DATA
	show_tab_data('totalcryptospricepairs');
});

function initialize_table(className){
	$('.'+className).DataTable({
        "paging":   false, 
        "info":     false,
        "searching": false
    });
}

function draw_chart(){
	$("#totalcryptospriceusd_market_summary").children('tr').each(function(){
		var val=$("#hidden_"+this.id).val();
		if(val){
			$("#chart_"+this.id).html('');
			$("#chart_"+this.id).sparkline(val.split(","), {type: 'line',width: '100px',height: '20',lineColor: '#ff6439',fillColor: "transparent"});
		}
	});

	$("#totalcryptospricepairs_market_summary").children('tr').each(function(){
		var val=$("#hidden_"+this.id).val();
		if(val){
			$("#chart_"+this.id).html('');
			$("#chart_"+this.id).sparkline(val.split(","), {type: 'line',width: '100px',height: '20',lineColor: '#ff6439',fillColor: "transparent"});
		}
	});
}


function show_tab_data(tab){
	if($('#'+tab+'_market_summary').children('tr').length==0){ 
		//PROCESS TO SHOW LOADER
		var cols=$('#'+tab+'_market_summary').parent().children('thead').children('tr').children('th').length;
		$('#'+tab+'_market_summary').append('<tr><td colspan="'+cols+'" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
		
		$.ajax({
			type:'GET',
			//url:'<%= socketURL %>/tabData/'+tab,
			url:'/tabData/'+tab,
			success:function(data){ 
				var str='';
				switch(tab){
					case 'totalcryptospricepairs':
						data.forEach(function(summary,index){
						var even_odd_class='even';
						if(index%2==0){
							even_odd_class='odd';
						}
						
						str+='<tr role="row" class="'+even_odd_class+'" id="'+summary.product+'_totalcryptos_pairs">';
						str+='<td class="sorting_1">'+(index+1)+'</td>';
						str+='<td class="text-bold">';
						str+='<img src="/images/currencies/'+summary.base_currency+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
						str+='&nbsp;<a href="/volume-24-hour-currency/'+summary.base_currency.toUpperCase()+'">';
						str+=summary.base_currency.toUpperCase();
						str+='</a>';
						str+='</td>'; 
						str+='<td>';
						str+='<a href="/volume-24-hour-market/'+summary.product.replace('_','').toUpperCase()+'">';
						str+=summary.product.replace('_','').toUpperCase();
						str+='</a>';
						str+='</td>';
						str+='<td class="text-bold" id="'+summary.product+'_price_totalcryptos_usd">';
						if(summary.change_perc_1h>0){
						str+=parseFloat(summary.price).toFixed(8)+'<img src="/images/green-up-arrow.png" alt="green arrow">';
						}else{
						str+=parseFloat(summary.price).toFixed(8)+'<img src="/images/red-down-arrow.png" alt="red arrow">';
						}
						str+='</td>';
						str+='<td id="'+summary.product+'_vol_totalcryptos_pairs">'+Math.round(parseFloat(summary.volume))+'</td>';
						str+='<td id="'+summary.product+'_high_totalcryptos_pairs">'+parseFloat(summary.high).toFixed(8)+'</td>';
						str+='<td id="'+summary.product+'_low_totalcryptos_pairs">'+parseFloat(summary.low).toFixed(8)+'</td>';
						str+='<td id="'+summary.product+'_change_perc_1h_totalcryptos_pairs">';
						if(summary.change_perc_1h>0){
						str+='<span style="color:green;font-weight:bold;">'+parseFloat(summary.change_perc_1h).toFixed(2)+'</span>';
						}else{
						str+='<span style="color:red;font-weight:bold;">'+parseFloat(summary.change_perc_1h).toFixed(2)+'</span>';
						}
						str+='</td>';
						str+='<td id="'+summary.product+'_change_perc_24h_totalcryptos_pairs">';
						if(summary.change_perc_24h>0){
						str+='<span class="market-up-text">'+parseFloat(summary.change_perc_24h).toFixed(2)+'</span>';
						}else{
						str+='<span class="market-down-text">'+parseFloat(summary.change_perc_24h).toFixed(2)+'</span>';
						}
						str+='</td>';
						str+='<td>';
						str+='<div class="row">';
						str+='<div class="col-md-12" id="chart_'+summary.product+'_totalcryptos_pairs"><input type="hidden" id="hidden_'+summary.product+'_totalcryptos_pairs" value="'+summary.chart+'" /></div>';
						str+='</div>';
						str+='</td>';
						str+='</tr>';
						});
					break;
				}
				$("#"+tab+'_market_summary').html(str);
				initialize_table(tab);
				draw_chart();
			}
		});
	}	
}
</script>