
<main class="main-content">
<%- partial('./partials/banner-ads.ejs') %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<!-- TOTAL CRYPTOS TABLE -->
				<div class="row" id="coins">
										<div class="col-lg-9 card card-table-pane" style="margin-top:0 !important; padding: 0;">
											<div class="card-body">
											<div class="card-header">
											<div class="row">
											  <div class="col-md-6">
                                                  <h5 class="card-title">TOTAL CRYPTOS PRICE</h5>
											  </div>
											  <div class="col-md-6">
											  	 <div class="dropdown custom-dropdown">
													<button class="btn dropdown-toggle custom-dropdown-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														Cryptocurrencies
													</button>
													<div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton" id="total_cryptos_dropdown">  
													  <a class="dropdown-item" id="totalcryptospriceusd" href="javascript:void();" onclick="show_totalcrypto_price('totalcryptospriceusd');">USD Based</a> 
													  <a class="dropdown-item" id="totalcryptospricepairs" href="javascript:void();" onclick="show_totalcrypto_price('totalcryptospricepairs');">Crypto Based</a> 
													  <a class="dropdown-item" id="totalcryptosall" href="javascript:void();" onclick="show_totalcrypto_price('totalcryptosall');">Full List</a> 
													</div>
											      </div> 
											  </div>  
											  </div>
											</div> 

											<div id="totalCryptos-table_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;">
												<table class="display table-custom dataTable no-footer totalcryptosprice" style="width: 100%;overflow:auto;" role="grid">
													<thead>
														<tr role="row">
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 90px;">Name</th>
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="COIN: activate to sort column ascending" style="width: 70px;">Pair</th>
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Price USD: activate to sort column ascending" style="width: 120px;">Price</th>
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(24h): activate to sort column ascending" style="width: 100px;">24 Hour Volume</th>
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(1h): activate to sort column ascending" style="width: 50px;">Change %(1h)</th>
															<th class="sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Change %(24h): activate to sort column ascending" style="width: 50px;">Change %(24h)</th>
															<th class="sorting_disabled sorting" tabindex="0" aria-controls="totalCryptos-table" rowspan="1" colspan="1" aria-label="Chart 1d: activate to sort column ascending" style="width: 90px;">Chart 1d</th></tr>
													</thead>
													<tbody  id="totalcryptosprice_market_summary"> 
													</tbody>
												</table>
											</div>	
											<div class="card-footer" id="crypto_footer">
												<a href="/exchange_prices/totalcryptospricepairs/details" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
											</div>
											</div>
										</div>
									
										<div class="col-lg-3">
											<div class="row">
												<div class="col-lg-12">
													<div class="card card-table-pane" style="margin-top:0 !important;">
														<div class="card-body">
															<div class="card-header">
																<h5 class="card-title">BIG GAINERS</h5>
															</div>
															<div class="card-content">
																<div id="bigGainers-table_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;">
																	<table class="display table-custom dataTable no-footer bigGainers" style="width: 100%;overflow:auto;" role="grid">
																		<thead>
																			<tr role="row">
																				<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width:80px;">Symbol</th>
																				<th class="sorting" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width:50%;">%24h</th>
																			</tr>
																		</thead>
																		<tbody id="gainers_24_h"> 
																		</tbody>
																	</table>
																</div>
																<div class="card-footer">
																	<a href="/gainers" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="card card-table-pane" style="margin-top:1rem !important;">
														<div class="card-body">
															<div class="card-header">
																<h5 class="card-title">BIG LOSERS</h5>
															</div>
															<div class="card-content">
																<div id="bigLoosers-table_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;">
																	<table class="display table-custom dataTable no-footer bigLoosers" style="width: 100%;overflow:auto;" role="grid">
																		<thead>
																			<tr role="row">
																				<th class="sorting" tabindex="0" aria-controls="bigLoosers-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending" style="width:80px;">Symbol</th>
																				<th class="sorting" tabindex="0" aria-controls="bigLoosers-table" rowspan="1" colspan="1" aria-label="%24h: activate to sort column ascending" style="width:50%;">%24h</th>
																			</tr>
																		</thead>
																		<tbody id="losers_24_h"> 	
																		</tbody>
																	</table>
																</div>	
																<div class="card-footer">
																	<a href="/losers" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="card card-table-pane" style="margin-top:1rem !important;">
														<div class="card-body">
															<div class="card-header">
																<h5 class="card-title">FX DATA</h5>
															</div>
															<div class="card-content">
																<div id="fx_data-table_wrapper" class="dataTables_wrapper no-footer" style="overflow:auto;width:100%;">
																	<table class="display table-custom dataTable no-footer fx_data" style="width: 100%;overflow:auto;" role="grid">
																		<thead>
																			<tr role="row">
																				<th class="sorting" tabindex="0" aria-controls="fx_data-table" rowspan="1" colspan="1" aria-label="Symbol: activate to sort column ascending">Symbol</th>
																				<th class="sorting" tabindex="0" aria-controls="fx_data-table" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending">Price</th>
																			</tr>
																		</thead>
																		<tbody id="fx_data"> 
																		</tbody>
																	</table>
																</div>
																<div class="col-md-12" style="font-size:12px;">
																	<p><strong>FX Rates powered by <a href="https://ib.atcbrokers.co.uk/?IB=IB50178">ATC Brokers&nbsp;<img src="/images/atc_brokers_small.png" style="width:25px;"/></a></strong></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
			</div>
			<div class="col-lg-2 pl-0 pr-0">
				<div class="row" id="feed">
					<div class="col-md-12 text-center"><img src="/images/data-loader.gif"/></div>
				</div>
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div> 
	</div>
</main>

<script>
var whether_total_crypto_table_initialized=false;
$(document).ready(function(){
	//PROCESS TO FETCH GAINERS AND LOSERS
	$("#fx_data").html('<tr><td colspan="2" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	$("#gainers_24_h").html('<tr><td colspan="2" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	$("#losers_24_h").html('<tr><td colspan="2" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	
	$.ajax({
		type:'GET',
		url:'/gainersLosers',
		success:function(data){
		
			$("#fx_data").html('');
			$("#gainers_24_h").html('');
			$("#losers_24_h").html('');
		
			data.gainers.forEach(function(gainer,index){
			
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				var str='<tr role="row" class="'+even_odd_class+'">';
				str+='<td class="text-bold" style="width:100px">';
				
				str+='<img src="/images/currencies/'+gainer.symbol.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
				str+='&nbsp;&nbsp;<a href="/volume-24-hour-currency/'+gainer.symbol.toUpperCase()+'">';
				str+=gainer.symbol;
				str+='</a>';
				str+'</td>';
				str+='<td><span class="market-up-text">'+gainer.percent_change_24h+'</span>'; 
				str+=' <img src="/images/green-up-arrow.png" alt="green arrow"></td>';
				str+='</tr>';
				$("#gainers_24_h").append(str);
			});	

			data.losers.forEach(function(loser,index){
			
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				var str='<tr role="row" class="'+even_odd_class+'">';
				str+='<td class="text-bold" style="width:100px">';
				str+='<img src="/images/currencies/'+loser.symbol.toLowerCase()+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
				str+='&nbsp;&nbsp;<a href="/volume-24-hour-currency/'+loser.symbol.toUpperCase()+'">';
				str+=loser.symbol;
				str+='</a>';
				str+='</td>';
				str+='<td><span class="market-down-text">'+loser.percent_change_24h+'</span>';
				str+=' <img src="/images/red-down-arrow.png" alt="red arrow"></td>';
				str+='</tr>';
				$("#losers_24_h").append(str);
			});
			
			data.fx_data.forEach(function(fx,index){
			
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				var str='<tr role="row" class="'+even_odd_class+'">';
				str+='<td class="text-bold" style="width:100px">';
				str+='<img src="/images/flags/'+fx.base_currency.toLowerCase()+'.png" width="20px" height="20px" onError="this.src=\'/images/currency.png\'" />&nbsp;&nbsp;';
				str+=fx.symbol;
				str+='</td>';
				str+='<td>';
				str+=fx.bid;
				if(fx.is_higher==1){
					str+='<img src="/images/green-up-arrow.png" alt="green arrow">';
				}
				else{
					str+='<img src="/images/red-down-arrow.png" alt="red arrow">';
				}
				str+='</td>';
				str+='</tr>';
				$("#fx_data").append(str);
			});
			var str='';
			if(data.feed.items){
				str+='<div class="col-md-12">';
				str+='<h5><strong><a href="https://portal.totalcryptos.com/news">Total News Feed</a></strong></h5><hr/>';
				str+='</div>';
				data.feed.items.forEach(function(item){
					str+='<div class="col-md-12" style="padding-bottom:10px;">';
					str+='<p style="font-size:14px;"><strong>';
					str+='<a href="'+item.link+'">'+item.title+'</a></strong><br/>';
					str+='<span style="font-size:11px;">'+item.pubDate;
					str+='</span></p>';
					str+='<div style="font-size:13px;">'+item.contentSnippet+'</div><hr/>';
					str+='</div>';
				});	
			}
			$("#feed").html(str);
			
			//initialize_table('bigGainers');
			//initialize_table('bigLoosers');
			
			$('.bigGainers,.bigLoosers,.fx_data').DataTable({
				"paging":   false, 
				"info":     false,
				"searching": false,
				"aaSorting": []
			});
			
			
		}
	});	

	//PROCESS TO FETCH TOTAL CRYPTO DATA
	show_totalcrypto_price('totalcryptospriceusd');
});

function initialize_table(className,currency=null){
	$('.'+className).DataTable({
        "paging":   false, 
        "info":     false,
        //"searching": false,
		"aaSorting": [],
		dom: 'Bfrtip',
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ],
		initComplete : function() {
			if(currency){
				$('.dataTables_filter input').val(currency);
			}
			$('.dataTables_filter input').unbind(),
			self = this.api(),
			$searchButton = $('<button>')
			   .text('search')
			   .click(function() {
				  //self.search(input.val()).draw();
				  show_totalcrypto_price('search',$('.dataTables_filter input').val());
			   }),
            $clearButton = $('<button>')
			   .text('clear')
			   .click(function() {
				  show_totalcrypto_price('totalcryptospriceusd');
			   }), 
			$('.dataTables_filter').append($searchButton, $clearButton);
			
			$('.dataTables_filter input').keyup(function(){ 
				if($(this).val()==''){
					show_totalcrypto_price('totalcryptospriceusd');
				}
			});
		}
    });
}

function show_totalcrypto_price(tab,currency=null){
	var url='/tabData/'+tab;
	if(tab=='totalcryptosall'){
	    $("#dropdownMenuButton").html('Full List'); 
	}
	else if(tab=='totalcryptospriceusd'){
	    $("#dropdownMenuButton").html('USD Based'); 
	}
	else if(tab=='totalcryptospricepairs'){
		$("#dropdownMenuButton").html('Crypto Based');
	}
	else if(tab=='search'){
		var url='/tabData/totalcryptosall/'+currency;
	}
 
	//PROCESS TO SHOW LOADER
	if(whether_total_crypto_table_initialized){
		$(".totalcryptosprice").dataTable().fnDestroy();
	}
	var cols=$('#totalcryptosprice_market_summary').parent().children('thead').children('tr').children('th').length;
	$('#totalcryptosprice_market_summary').html('<tr><td colspan="'+cols+'" style="text-align:center;"><img src="/images/data-loader.gif"/></td></tr>');
	$.ajax({
		type:'GET',
		//url:'<%= socketURL %>/tabData/'+tab,
		url:url,
		success:function(data){ 
			var str='';
			data.forEach(function(summary,index){
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
			
				str+='<tr role="row" class="'+even_odd_class+'" id="'+summary.product+'_totalcryptos">';
				str+='<td class="text-bold">';
				str+='<img src="/images/currencies/'+summary.base_currency+'.png" width="16px" height="16px" onError="this.src=\'/images/currency.png\'" />';
				str+='&nbsp;&nbsp;<a href="/volume-24-hour-currency/'+summary.base_currency.toUpperCase()+'">';
				str+=summary.base_currency.toUpperCase();
				str+='</a>';
				str+='</td>'; 
				str+='<td>';
				str+='<a href="/volume-24-hour-market/'+summary.product.replace('_','').toUpperCase()+'">';
				str+=summary.product.replace('_','').toUpperCase();
				str+='</a>';
				str+='</td>';
				str+='<td class="text-bold" id="'+summary.product+'_price_totalcryptos">';
				if(summary.change_perc_1h>0){
				str+='<span class="green-text">'+format_numbers(parseFloat(summary.price).toFixed(8))+'</span> <img src="/images/green-up-arrow.png" alt="green arrow">';
				}else{
				str+='<span class="red-text">'+format_numbers(parseFloat(summary.price).toFixed(8))+'</span> <img src="/images/red-down-arrow.png" alt="red arrow">';
				}
				str+='</td>';
				str+='<td id="'+summary.product+'_volume_totalcryptos">';
				str+=format_numbers(parseFloat(summary.volume).toFixed(2));
				str+='</td>';
				str+='<td id="'+summary.product+'_change_perc_1h_totalcryptos">';
				if(summary.change_perc_1h>0){
				str+='<span style="color:#2fa744; font-weight:bold;">'+parseFloat(summary.change_perc_1h).toFixed(2)+'</span>';
				}else{
				str+='<span style="color:#f9494b; font-weight:bold;">'+parseFloat(summary.change_perc_1h).toFixed(2)+'</span>';
				}
				str+='</td>';
				str+='<td id="'+summary.product+'_change_perc_24h_totalcryptos">';
				if(summary.change_perc_24h>0){
				str+='<span class="market-up-text">'+parseFloat(summary.change_perc_24h).toFixed(2)+'</span>';
				}else{	
				str+='<span class="market-down-text">'+parseFloat(summary.change_perc_24h).toFixed(2)+'</span>';
				}
				str+='</td>';
				str+='<td>';
				str+='<div class="row">';
				str+='<div class="col-md-12" id="chart_'+summary.product+'_totalcryptos"><input type="hidden" id="hidden_'+summary.product+'_totalcryptos" value="'+summary.chart+'" /></div>';
				str+='</div>';
				str+='</td>';
				str+='</tr>';
			});
			$('#totalcryptosprice_market_summary').html(str);
			draw_chart();
			if(tab=='search'){
				initialize_table('totalcryptosprice',currency);
			}
			else{
				initialize_table('totalcryptosprice');
			}
			whether_total_crypto_table_initialized=true;
			//MANAGE DROPDOWN OPTION SELECTED
			$("#total_cryptos_dropdown").children('a').removeClass('active');
			$("#"+tab).addClass('active');
			//MANAGE VIEW ALL OPTION ON FOOTER
			if(tab=='totalcryptosall' || tab=='search'){
				$("#crypto_footer").css({'display':'none'});
			}
			else{ 
				$("#crypto_footer").css({'display':'block'});
				$("#crypto_footer").html('<a href="/exchange_prices/'+tab+'/details" class="btn btn-primary btn-sm pull-right theme-btn">View All</a>');
			}
		}
	});	
}

function format_numbers(number){
	return number.replace(/\d(?=(\d{3})+\.)/g, '$&,');
}

function draw_chart(){
	$("#totalcryptosprice_market_summary").children('tr').each(function(){
		var val=$("#hidden_"+this.id).val();
		if(val){
			$("#chart_"+this.id).html('');
			$("#chart_"+this.id).sparkline(val.split(","), {type: 'line',width: '100px',height: '20',lineColor: '#ff6439',fillColor: "transparent"});
		}
	});
}
</script>