<html>
<head>
<title>
Total Cryptos
</title>
<link href="https://fonts.googleapis.com/css?family=sans-serif:300,400,700|Source+Code+Pro:300,400,500" rel="stylesheet">
<link rel="stylesheet" href="/styles/lib/bootstrap.min.css">
<style>
ul li,p {
	font-weight:600;font-size:22px;
}
</style>
</head>
<body style="color:#181818;">
<main class="main-content">     
	<div class="container-fluid">
		<div class="row" style="margin-top:50px;">
			<div class="col-md-5" style="text-align:center;">
				<p><img src="/images/ninja_traders/NinjaTrader_Logo.png" style="max-width:100%;"/></p>
				<p><img src="/images/ninja_traders/NinjaTrader_Monitor_Image.png" style="max-width:100%;"/></p>
			</div>
			<div class="col-md-7">
				<h2><strong>Our Recommended Trading Platform</strong></h2><br/>
				<h5 style="font-weight:600;font-size:25px;">NinjaTrader® is our #1 recommended trading software platform preferred by traders worldwide including our clients.</h5><br/>
				<h4><strong><a href="http://ninjatrader.com/LP/VendorDemo/"><span style="color:#A52A2A;text-decoration: underline;">Download NinjaTrader</span></a> & receive immediate FREE access to:<strong></h4>
				<ul>
					<li>Real-time futures data</li>
					<li>Unlimited real-time forex data</li>
					<li>Advanced charting</li>
					<li>Trade simulator</li>
					<li>Strategy development and backtesting</li>
					<li>Connect to NinjaTrader Brokerage, Interactive Brokers, TD Ameritrade & more…</li>
				</ul>
				<p>NinjaTrader’s award-winning <a href="http://ninjatrader.com/GetStarted"><span style="text-decoration: underline;color:#181818;">trading platform</span></a> is consistently voted an industry leader by the trading community.  Featuring 1000s of Apps & Add-Ons for unlimited customization, NinjaTrader is used by over 60,000 traders for advanced market analysis, professional charting and fast order execution.</p>
				
				<p>For new traders, start preparing for the live markets with a free <a href="http://ninjatrader.com/FreeLiveData"><span style="text-decoration: underline;color:#181818;">trading simulator</span></a> featuring real-time market data.</p><br/>
				
				<div style="text-align:center;"><h1><a href="http://ninjatrader.com/LP/VendorDemo/"><span style="color:#A52A2A;text-decoration: underline;">Get Started for FREE!</span></a></h1></div><br/>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-5" style="text-align:center;">
				<p><img src="/images/ninja_traders/Kinetick_Logo.png" style="max-width:100%;"/></p>
				<p><img src="/images/ninja_traders/Kinetick_Badge.png" style="max-width:100%;"/></p>
			</div>
			<div class="col-md-7">
				<h2><strong>Our Recommended Market Data Feed</strong></h2><br/>
				<p>Kinetick® delivers reliable, fast and cost-effective <a href="http://kinetick.com/NinjaTrader"><span style="text-decoration: underline;color:#181818;">market data</span></a> to help level the playing field for active traders. Take advantage of unfiltered, real time quotes for stocks, futures and forex that exceed the expectations of the world’s most demanding traders, like us!</p>
				
				<p>Get started with FREE end-of-day <a href="http://kinetick.com/"><span style="text-decoration: underline;color:#181818;">historical market data</span></a> directly through the NinjaTrader platform and learn how you can significantly reduce CME Group Globex exchange fees on real-time market data with Kinetick.</p>
				
				<h3><a href="http://kinetick.com/NinjaTrader"><span style="color:#FF4500;text-decoration: underline;">Get Started with Free EOD Data</span></a></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p style="font-size:14px;font-weight:700;">Risk Disclosure: Futures and forex trading contains substantial risk and is not for every investor. An investor could potentially lose all or more than the initial investment. Risk capital is money that can be lost without jeopardizing one's financial security or life style. Only risk capital should be used for trading and only those with sufficient risk capital should consider trading. Past performance is not necessarily indicative of future results.</p>
			</div>
		</div>
	</div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
