<main class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 pl-0">
				<div class="card card-table-pane">
							<div class="card-body">
								<div class="card-header">
									<h5 class="card-title"><%=currency%></h5> 
								</div>
								<div class="sub-menu">
								   <ul class="nav nav-tabs">
									  <li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#markets">Markets</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#history">History</a>
									  </li>
									  <li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#charts">Charts</a>
									  </li> 
									</ul>
								</div>
								<div class="tab-content" style="margin-top:20px;">
									<div class="tab-pane active" id="markets">
										<div style="text-align:center;"><img src="/images/data-loader.gif"/></div>
									</div>
									<div class="tab-pane" id="history">
										<div class="table-responsive">
											<table class="display table-custom dataTable">
											<thead>
											<tr>
												<th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Price</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">High</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Low</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Volume (24h)</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Date</th>
											</tr>
											</thead>
											<tbody id="history_data">
												<tr>
													<td colspan="6" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
									<div class="tab-pane" id="charts">
										<div class="table-responsive">
											<table class="display table-custom dataTable">
											<thead>
											<tr role="row">
												 <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Pair</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Chart</th>
												 <th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Date</th>
											</tr>
											</thead>
											<tbody id="history_chart">
												<tr>
													<td colspan="4" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
												</tr>
											</tbody>
											</table>
										</div>	
									</div>
								</div>
							</div>
						</div>
			</div>	
			<div class="col-lg-2 text-center mt-4 pl-0 pr-0">
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div>
	</div>	
</main>
<script>
var currency='<%=currency%>';
$(document).ready(function(){

	$.ajax({
		type:'GET',
		url:'/volume_24_hour_currency_symbol_data/'+currency,
		success:function(data){ 
			var str='';
			$("#currency").html(data.currency.toUpperCase());
			data.markets.forEach(function(coins){
				str+='<div class="table-responsive">';
				str+='<table class="display table-custom dataTable">';
				str+='<thead>';
				str+='<tr>';
				
				str+='<th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>';
				str+='<th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Volume (24h)</th>';
				str+='<th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Currency</th>';
				str+='<th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Price</th>';
				str+='<th class="sorting" tabindex="0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Source</th>';
				
				str+='</tr>';
				str+='</thead>';
				str+='<tbody>';
				coins.data.forEach(function(volume,index){
					if(index%2==0){
						class_even_odd='odd';
					}
					str+='<tr role="row" class="'+class_even_odd+'">';
					str+='<td class="sorting_1">'+(index+1)+'</td>';
					str+='<td>'+format_numbers(parseFloat(volume.volume).toFixed(2))+'</td>';
					str+='<td>'+volume.currency+'</td>';
					str+='<td>'+format_numbers(parseFloat(volume.price).toFixed(5))+'</td>';
					str+='<td><a href="/exchange/'+volume.src.toLowerCase()+'">'+volume.src+'</a></td>';
					str+='</tr>';
				});
				str+='</tbody>';
				str+='</table>';
				str+='</div>';	
			});
			$("#markets").html(str);
			
			str='';
			data.history.forEach(function(data,index){
				var class_even_odd='even';
				if(index%2==0){
					class_even_odd='odd';
				}
				str+='<tr role="row" class="'+class_even_odd+'">';
				str+='<td class="sorting_1">'+(index+1)+'</td>';
				str+='<td>'+parseFloat(data.price).toFixed(8)+' '+data.quote_currency.toUpperCase()+'</td>';
				str+='<td>'+parseFloat(data.high).toFixed(8)+' '+data.quote_currency.toUpperCase()+'</td>';
				str+='<td>'+parseFloat(data.low).toFixed(8)+' '+data.quote_currency.toUpperCase()+'</td>';
				str+='<td>'+Math.round(data.volume)+'</td>';
				str+='<td>'+data.data_date+'</td>';
				str+='</tr>';
			});
			$("#history_data").html(str);
			
			str='';
			data.history.forEach(function(data,index){
				var class_even_odd='even';
				if(index%2==0){
					class_even_odd='odd';
				}
				str+='<tr role="row" id="'+data.product+(index)+'" class="'+class_even_odd+'">';
				str+='<td class="sorting_1">'+(index+1)+'</td>';
				str+='<td>'+data.product.toUpperCase()+'</td>';
				str+='<td>';
				str+='<div class="row">';
				str+='<div class="col-md-12" id="chart_'+data.product+(index)+'"><input type="hidden" id="hidden_'+data.product+(index)+'" value="'+data.chart+'" />';
				str+='</div>';
				str+='</div>';
				str+='</td>';
				str+='<td>'+data.data_date+'</td>';
				str+='</tr>';
			});
			$("#history_chart").html(str);
			
			$('.dataTable').DataTable({
				pageLength: 10,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{
					'bSortable': false,
					'aTargets': [0] 
				}],
				order: [],
				buttons: [
					//{extend: 'copy'},
					{extend: 'csv'},
					{extend: 'excel', title: 'ExampleFile'},
					{extend: 'pdf', title: 'ExampleFile'},

					//{extend: 'print',
					 //customize: function (win){
						//$(win.document.body).addClass('white-bg');
						//$(win.document.body).css('font-size', '10px');
						//$(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
					//}
					//}
				],
				drawCallback: function(){ 
					$(this, this.api().table().container()).on('search.dt', function(){
						draw_chart();
					});
					$('.paginate_button', this.api().table().container()).on('click', function(){
						draw_chart();
					});       
				}
			});
			draw_chart();
		}
	});	
});

function format_numbers(number){
	return number.replace(/\d(?=(\d{3})+\.)/g, '$&,');
}

function draw_chart(){
	$("#history_chart").children('tr').each(function(){ 
		var val=$("#hidden_"+this.id).val();
		if(val){
			$("#chart_"+this.id).html('');
			$("#chart_"+this.id).sparkline(val.split(","), {type: 'line',width: '100px',height: '20',lineColor: '#ff6439',fillColor: "transparent"});
		}
	});
}
</script>
