<main class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-table-pane">
							<div class="card-body">
								<div class="col-lg-12" id="market_data">
									<div style="text-align:center;"><img src="/images/data-loader.gif"/></div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
			</div>
			<div class="col-lg-2 text-center mt-5">
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div>	
	</div>
</main>
<script>
var market='<%=market%>';
$(document).ready(function(){

	$.ajax({
		type:'GET',
		url:'/volume_24_hour_market_data/'+market,
		success:function(data){ 
		
			var str='';
			data.market.forEach(function(markets){
				str+='<div class="table-responsive">';
				str+='<h5 id="market">'+markets.market+'</h5>';
				str+='<table class="table table-striped table-bordered table-hover 24_hour_market">';
				str+='<thead>';
				str+='<tr>';
				str+='<th>#</th>';
				str+='<th>Volume (24h)</th>';
				str+='<th>Price</th>';
				str+='<th>Source</th>';
				str+='</tr>';
				str+='</thead>';
				str+='<tbody>';
				markets.data.forEach(function(volume,index){
				str+='<tr>';
				str+='<td>'+(index+1)+'</td>';
				str+='<td>'+format_numbers(parseFloat(volume.volume).toFixed(2))+'</td>';
				str+='<td>'+format_numbers(parseFloat(volume.price).toFixed(5))+'</td>';
				str+='<td><a href="/exchange/'+volume.src.toLowerCase()+'">'+volume.src+'</a></td>';
				str+='</tr>';
				});
				str+='</tbody>';
				str+='</table>';
				str+='</div>';	
			});
			$("#market_data").html(str);
			$('.24_hour_market').DataTable({
				pageLength: 10,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{
					'bSortable': false,
					'aTargets': [0] 
				}],
				order: [],
				buttons: [
					//{extend: 'copy'},
					{extend: 'csv'},
					{extend: 'excel', title: 'ExampleFile'},
					{extend: 'pdf', title: 'ExampleFile'},

					//{extend: 'print',
					 //customize: function (win){
						//$(win.document.body).addClass('white-bg');
						//$(win.document.body).css('font-size', '10px');
						//$(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
					//}
					//}
				]
			});
		}
	});	
});

function format_numbers(number){
	return number.replace(/\d(?=(\d{3})+\.)/g, '$&,');
}
</script>

