<main class="main-content">     
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-12">
						<div class="card card-table-pane">
							<div class="card-body">
								<div id="exchange_data">
									<div style="text-align:center;padding:50px;"><img src="/images/data-loader.gif"/></div>
								</div>
							</div>
						</div>
					</div>	
				</div>		
			</div>
			<div class="col-lg-2 text-center mt-5">
				<%- partial('./partials/ads.ejs') %>
			</div>
		</div>	
	</div>
</main>
<script>
$(document).ready(function(){

	$.ajax({
		type:'GET',
		url:'/volume_24_hour_exchange_data',
		success:function(data){ 
			var str='';
			data.exchange.forEach(function(exchange){
				str+='<div class="dataTables_wrapper no-footer">';
				str+='<h5><a href="/exchange/'+exchange.name+'">'+exchange.displayName+'</a></h5>';
				str+='<table class="display table-custom dataTable no-footer" style="width: 100%;" role="grid">';
				str+='<thead>';
				str+='<tr>';
				str+='<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">#</th>';
				str+='<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Currency</th>';
				str+='<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Volume (24h)</th>';
				str+='<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Price</th>';
				str+='<th class="sorting_asc" tabindex="0" aria-controls="bigGainers-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending">Pair</th>';
				str+='</tr>';
				str+='</thead>';
				str+='<tbody>';
				exchange.data.forEach(function(volume,index){
				var even_odd_class='even';
				if(index%2==0){
					even_odd_class='odd';
				}
				str+='<tr role="row" class="'+even_odd_class+'">';
				str+='<td class="sorting_1">'+(index+1)+'</td>';
				str+='<td><b>'+volume.currency+'</b></td>';
				str+='<td>'+Math.round(parseFloat(volume.volume))+'</td>';
				str+='<td>'+parseFloat(volume.price).toFixed(5)+'</td>';
				str+='<td>';
				str+='<a href="volume-24-hour-market/'+volume.pair+'">';
				str+=volume.pair;
				str+='</a>';
				str+='</td>';
				str+='</tr>';
				});
				str+='</tbody>';
				str+='</table>';
				str+='</div>';	
			});
			$("#exchange_data").html(str);
			$('.dataTable').DataTable({
				pageLength: 10,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				responsive: true,
				dom: '<"html5buttons"B>lTfgitp',
				aoColumnDefs: [{
					'bSortable': false,
					'aTargets': [0] 
				}],
				order: [],
				buttons: [
					//{extend: 'copy'},
					{extend: 'csv'},
					{extend: 'excel', title: 'ExampleFile'},
					{extend: 'pdf', title: 'ExampleFile'},

					//{extend: 'print',
					 //customize: function (win){
						//$(win.document.body).addClass('white-bg');
						//$(win.document.body).css('font-size', '10px');
						//$(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
					//}
					//}
				]
			});
		}
	});	
});
</script>

