<html>
<head>
<title>
Total Cryptos
</title>
<link rel="stylesheet" href="/styles/animate.css">
<link rel="stylesheet" href="/styles/bootstrap.min.css">
<link rel="stylesheet" href="/styles/c3.min.css">
<link rel="stylesheet" href="/styles/custom.css">
<link rel="stylesheet" href="/styles/datatables.min.css">
<link rel="stylesheet" href="/styles/font-awesome.css">
<link rel="stylesheet" href="/styles/font-awesome.min.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<div id="wrapper">
	<div class="animated fadeInRight">
		<div class="col-lg-10 col-lg-offset-1">
			<div class="table-responsive">
				<h3><b>Top Losers</b></h3>
				<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Symbol</th>
					<th>Price</th>
					<th>% 24h</th>
				</tr>
				</thead>
				<tbody id="losers">
					<tr>
						<td colspan="5" style="text-align:center;"><img src="/images/data-loader.gif"/></td>
					</tr>
				</tbody>
				</table>
			</div>	
		</div>	
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){

	$.ajax({
		type:'GET',
		url:'/widget/losers_data',
		success:function(data){  
			var str='';
			if(data.errCode==1){
				data.data.forEach(function(loser,index){
					str+='<tr>';
					str+='<td>'+(index+1)+'</td>';
					str+='<td>'+loser.name+'</td>';
					str+='<td>'+loser.symbol+'</td>';
					str+='<td>'+parseFloat(loser.price_usd).toFixed(5)+'</td>';
					str+='<td><span style="color:red;font-weight:bold;">'+loser.percent_change_24h+'%</span></td>';
					str+='</tr>';
				});
			}	
			$("#losers").html(str);
		}
	});	
});
</script>
</body>
</html>
