@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:100,300,400,500,700);
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  color: #4f5f6f;
  background: #f9f9f9; }

.text-bold {
  font-weight: 600; }

a {
  color: #2077B6; }

.header-container {
  padding-top: 52px; }

.header-bg {
  background: #136096;
  padding: 13px 0 4px 8px }

.header-crypto-item {
  padding: 0 8px; }

.header-crypto-item .card {
  border: 0px; }
  .header-crypto-item .card .card-body {
    padding: 10px 10px 0 10px;
    text-align: center; }
  .header-crypto-item .card .card-title {
    font-size: 16px;
    margin-bottom: 0; }
  .card-table-pane .card-title {
    margin-bottom: 0;
  }
  .header-crypto-item .card .card-crypto-graph {
    height: 70px;
    line-height: 70px;
    background: url(img/blue-chart-boxes.png) center no-repeat; }
  .header-crypto-item .card .card-text {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 12px; }
  .header-crypto-item .card .card-price {
    font-size: 18px; }
  .header-crypto-item .card .card-volume {
    font-size: 11px;
    line-height: 12px; }
  .header-crypto-item .card .stock-title {
    float: left; }

.navbar {
  margin: 0; }

.main-nav {
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 9999;
  padding: 0 1rem !important;
  background: #2076b3; }
  .main-nav .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 15px 25px; }
    .main-nav .navbar-nav .nav-link .fa-cog {
      font-size: 18px; }
  .main-nav .navbar-nav .nav-link:hover, .main-nav .navbar-nav .nav-item.active {
    color: #ffffff;
    background: #145c90; }
  .main-nav .navbar-nav .dropdown-menu {
    min-width: 250px;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: -2px 0 0 0;
    padding: 0;
    -webkit-box-shadow: 0 4px 8px 0px #a7a7a7;
    -moz-box-shadow: 0 4px 8px 0px #a7a7a7;
    box-shadow: 0 4px 8px 0px #a7a7a7; }
    .main-nav .navbar-nav .dropdown-menu .dropdown-item {
      font-size: 15px;
      padding: .60rem 1.5rem; }
      .main-nav .navbar-nav .dropdown-menu .dropdown-item:hover {
        background: #f1f1f1; }
  .main-nav .navbar-nav .dropdown:hover .dropdown-menu {
    display: block; }

.main-news {
  padding: 10px 0;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 9px -1px #dedede;
  -moz-box-shadow: 0px 2px 9px -1px #dedede;
  box-shadow: 0px 2px 9px -1px #dedede; }
  .main-news h5 {
    margin: 0;
    font-size: 16px; }
    .main-news h5 .news-highlights {
      color: #30a847; }
  .main-news .news-title1 {
    text-align: left; padding-top: 10px; }
  .main-news .news-title2 {
    text-align: center;  padding-top: 10px;}
  .main-news .news-title3 {
    text-align: right;  padding-top: 10px;}
  .search-container {
    position: relative;
    width: 75%;
    float: right;
  }
  .search-container input {
    width: 100%;
    height: 38px;
    padding: 5px;
    border: 1px solid #dfdfdf;
    color: rgba(23,24,27,0.65);
    font-size: 14px;
    box-shadow: 0 2px 0px 0px #dddddd;
    border-radius: 3px;
  }
  .search-container .search-icon {
    position: absolute;
    right: 10px;
    top: 7px;
  }

.main-content {
  min-height: 260px; padding: 0 15px;}

.footer {
  background: #29323b;
  color: #cfd0d2;
  padding: 20px 0;
  margin-top: 60px; }
  .footer p {
    margin: 0; }
  .footer a {
    color: #cfd0d2; }
  .footer .copyright {
    font-size: 12px;
    text-align: center; }

.color-options h4 {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 400; }

.color-options .color-options-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  .color-options .color-options-list .color-item {
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 12px;
    border: 1px solid #232b33;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-align: center; }
  .color-options .color-options-list .color-blue {
    background-color: #2076b3; }
  .color-options .color-options-list .color-red {
    background-color: #fc494d; }
  .color-options .color-options-list .color-green {
    background-color: #2ea549; }
  .color-options .color-options-list .color-orange {
    background-color: #fe7a0e; }
  .color-options .color-options-list .color-purple {
    background-color: #7767a6; }
  .color-options .color-options-list .active {
    position: relative;
    font-family: FontAwesome;
    font-size: 17px;
    line-height: 17px; }
    .color-options .color-options-list .active::before {
      content: "\f00c";
      color: #fff;
      vertical-align: middle; }

.footer-nav, .social-media-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }

.footer-nav {
  font-size: 14px;
  padding: 5px 22% 0; }
  .footer-nav .divider {
    padding: 0 7px; }

.social-media-icons {
  padding-top: 8px;
  float: right; }
  .social-media-icons a {
    font-size: 23px;
    margin-right: 12px; }

.brand {
  text-align: center;
  padding-top: 6px; }
  .brand h1 {
    margin: 0px;
    height: 65px; }
  .brand .totolcryptos-logo {
    width: 70px;
    height: 70px;
    background: url(img/logo-blue-theme.png) center no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px; }
  .brand .logo-title {
    font-size: 10px;
    color: #fff; }

.card-table-pane {
  -webkit-box-shadow: 0 2px 0px 0px #dddddd;
  -moz-box-shadow: 0 2px 0px 0px #dddddd;
  box-shadow: 0 2px 0px 0px #dddddd; }
  .card-table-pane .card-header {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #ccd6db;
    background: none; }
    .card-table-pane .card-header .card-title {
      font-size: 18px; }
    .card-table-pane .card-header .minimize {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      cursor: pointer; }
  .card-table-pane .card-footer {
    padding: 0;
    border-radius: 0;
    border-top: 0;
    background: none;
    margin-top: 15px; }

.market-up-text {
  font-weight: 500;
  color: #30a847; }

.market-down-text {
  font-weight: 500;
  color: #fc494d; }

.theme-btn {
  background: #2076b3;
  border: 1px solid #2076b3;
  font-size: 12px; }
  .theme-btn:hover {
    background: #145c90; }

.multi-column-dropdown {
  list-style: none;
  padding: 0;
  margin: 0; }

.sub-menu {
  margin-top: 1rem; }

  .custom-dropdown { 
    padding-bottom: 10px; 
    float: right;
  }
  .custom-dropdown-btn {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .custom-dropdown-menu {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
  .custom-dropdown-menu-title {
    font-size: 15px;
    background: #232b33;
    color: #fff;
    padding: 10px;
    margin: 0px !important;
  }
  .ads-img {
    border-radius: 4px;
    box-shadow: 0 2px 0px 0px #dddddd;
  } 
  .ads-container {
    padding-left: 0px;
  }

/* ===========================================
	DATA TABLE CUSTOMISATION START
============================================ */
table.dataTable a { font-size: 15px; font-weight: 500; }
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-bottom: 1px solid #ccd6db; }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #fff; }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #fff; }

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fff; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ccd6db; }

table.dataTable.display tbody tr.even > .sorting_1:hover, table.dataTable tbody tr.even:hover {
  background-color: #fff; }

table.dataTable.display thead th {
  font-size: 14px;
  color: #909090; }

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 10px; } 

.dataTables_length, .dataTables_filter {
  margin-top: 5px; }

.dataTables_wrapper { padding-top: 5px; }

.dataTables_wrapper .dataTables_filter input, .dataTables_length select {
  border: 1px solid #cdd6db; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  padding: 2px 8px;
  border: 1px solid #cdd6db; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 2px 8px; }

.html5buttons {
  float: right;
  margin: 0 0 0 10px; }

button.dt-button, div.dt-button, a.dt-button {
  padding: 0.1em .5em;
  margin-top: 5px; }

.marquee_div { margin-top: 5px !important; } 
.green-text { color: #2fa744; }
.red-text { color: #f9494b; }

/* ===========================================
	DATA TABLE CUSTOMISATION END	
============================================ */
@media (max-width: 992px) {
  .brand, .header-crypto-item, .card-table-pane {
    margin-bottom: 20px; }
  .main-news h5 {
    font-size: 14px; }
  .main-news .news-title1,
  .main-news .news-title2,
  .main-news .news-title3 {
    text-align: center;
    height: 30px;
    line-height: 30px; }
  .card-table-pane {
    margin-top: 2rem !important; }
  .table-scrolling {
    overflow-y: scroll; }
  .footer-nav {
    margin: 10px 0;
    padding: 0px; }
  .footer .copyright {
    text-align: left; }
  .social-media-icons {
    float: left; }
  .footer a, .copyright {
    font-size: 12px; } 
  .ads-container {
    padding-left: 15px;
  }
  .main-nav { position: relative; }
  .main-nav .navbar-nav .nav-link { padding: 10px 15px; } 
} 