/*
Header
*/
.navbar{
	border-radius: 0;
	text-align:center;
}
.navbar-fixed-top,
.navbar-static-top {
  background: #293846 !important;
}
.Header{
	display: flex;
	background: url(/images/Barra.jpg);
	background-position-y: 50%;
	
}
.menu ul.nav{
	padding-left: 0;
	padding-right: 0;
	color: #414141;
	font-size: medium;
}
.menu ul.nav li a{
	color: #414141;
}
.menu ul.nav li a:hover{
	color: black;
}
	
.h-50{
	height: 50%;
}
.aBanner{
	color: white;
}
.aBanner:hover{
	color: white;
}
.col-md-4 h3{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 18px; 
} 
.tc100, .total_usd_market_cap, .tcw100{
	color: green;
}
/*
End Header
*/
/*
Menu
*/
.nav li{
	display:inline-block;
    transform: skew(25deg);
}
.nav li a{
	display:block;
    transform: skew(-25deg);
}
.nav .open ,
.nav .open:hover,
.nav .open:focus {
  background: #293846;
  transform: skew(25deg);
}
.nav .open > a.dropdown-toggle,
.nav .open > a.dropdown-toggle:hover,
.nav .open > a.dropdown-toggle:focus {
    border: none;
    background: none;
    color: white;
  	transform: skew(-25deg);
}
ul.dropdown-menu li a{
  transform:skew(-50deg);
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {

    background: none;
}
/*Edited from Bootstrap */
.nav-tabs>li>a:hover {
   /* border-color: #eee #eee #ddd */ /*this*/
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
   /* border: 1px solid #ddd;*/ /*this*/
    border-bottom-color: transparent
}
.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
   /* background-color: #eee */ /*this*/
}
/* End of Edited from Bootstrap */
.inner-menu{
	z-index: 99;
}
/*
End of Menu
*/
/*Table Color*/

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #2F374A;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #67819c; 
}
.table{
	color: whitesmoke;
}
.table tr td a{
	color: whitesmoke;
	font-weight: bold;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  background-color: #2F374A !important;
  border-bottom-width: 1px;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: #67819c !important;
}

.table-hover > tbody > tr:hover {
    background-color: #2F374A;
}

/*End of Table css*/

/*Left Banner*/
.left-banner{
	background-color:#dadad9;
	border: solid #2f374a 1px;
}
.Cintillo{
	background-color: #293846;
    padding: 5% 0%;
    color: whitesmoke;
    font-size: 1.2em;
    text-align: center;
}
.DataBanner{
	overflow-x: hidden;
	font-size: 10pt;
	font-weight: bold;
}
.spacer-banner{
	padding-top: 2%;
	margin-bottom: 2%;
	padding-left: 15%;
}
.FirstBannerRow{
	background-color: #67819c;
    color: whitesmoke;
    padding-bottom: 1%;
}
/*End of Left Banner*/

.Vol24Hex{
	margin-top: 7%;
}
.tc-history{
	margin: 10% 0 0 0;
}
.api{
	margin: 7% 0 0 0;
}
.total_crypto_price_div{
	padding: 10px 0px;
	background-color:#DCDCDC;
}
.list-aggregate {
	list-style: none; 
	margin-top: 10px;
}
.list-aggregate li {
 border-bottom-color: #e5e5e5; 
}
.list-aggregate li a { 
	color: #fff; 
	font-weight:bold;
	 }
.marquee_div {
	height:100px;
	background-color:black;
}
.marquee_list_item { 
	width:340px; float: left;
}
.center {
	text-align:center;
}


/* This is not necesary all this code can be acomplished with "navbar-fixed-top"*/
/*

.nav-bar-float{
	margin-top: 20px;
}
.navbar-inverse{
	min-height:55px;
	background-color:#DCDCDC !important;
}
.navbar-brand {
	padding: 0 !important;
}

.fixed-header {
	position: fixed;top:0;
	 left:0;width: 100%;
	  z-index: 99999;
	}
nav.navbar.navbar-inverse {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	text-align:center;
}
nav.navbar.navbar-inverse.shrink {
	position: fixed;
	width: 100%;
	background:#DCDCDC !important;
	z-index: 999;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
*/

.fadeInRight {
	margin-top: 30px;
}
@media all and (max-width: 1161px) {
	.fadeInRight {
		margin-top: 50px !important;
	}
	.col-md-4 h3{
		font-size: 1.1em;
	}
}
@media all and (max-width: 765px) {
	.fadeInRight {
		margin-top: 22px !important;
	}
	.navbar{
		min-height: 80px;
		background: #c5c5c5 !important;
	}
	#myNavbar ul li a{
		color: black;
	}
}
@media all and (max-width: 390px) {
	.fadeInRight {
		margin-top: 58px !important;
	}
	.navbar{
		min-height: 80px;
		background: #c5c5c5 !important;
	}
	#myNavbar ul li a{
		color: black;
	}
}

/*PRE LOADER CSS*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader.gif) center no-repeat #fff;




