.home .card-table-pane{
	margin-top:0!important;
}

.card-table-pane{
	overflow-y:auto;
}

.home .card-table-pane .card-header{
	border-bottom:0!important;
}

.dataTable {
	font-size: 0.9em;
	min-width:800px;
	overflow-y:auto;
}

.bigGainers,.bigLoosers,.fx_data{
	min-width:auto;
}

table.dataTable tbody td {
    padding: 8px 5px;
}

.align_center{text-align:center;}
.align_right{text-align:right;}
@media (max-width: 992px) {
	#mainNavBar {
	   background: #2175b3;
	}
	.home { margin-top: 3rem !important; }
	.predator{max-width:100%;flex: 0 0 100%;text-align:left !important;}
	.align_center{text-align:left;}
	.align_right{text-align:left;}
}

body .sumome-share-client-wrapper.sumome-share-client-wrapper-desktop-bottom-bar, body .sumome-share-client-wrapper.sumome-share-client-wrapper-mobile-top-bar, body .sumome-share-client-wrapper.sumome-share-client-wrapper-mobile-bottom-bar{
	position: static !important;
}

body .sumome-stylebufferbottom-shim{
	height: 0px !important;
}

#dropdown_list_container{
	height:100px;
	position:relative;
	top:20px;
	bottom:20px;
}

@media (max-width: 767px) {
	#dropdown_list_container{
		height:250px;
		position:relative;
		top:20px;
		bottom:20px;
	}
}

.dropdown-container{
    width: 90%;
	left:5%;
	position:absolute !important;
	z-index:999 !important;
    margin: 15px auto 0;
    font-size: 14px;
    font-family: sans-serif;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
}  

.dropdown-label, .dropdown-quantity {
	float: left;
}

.dropdown-quantity {
	margin-left: 4px;
}

.fa-filter {
	float: right;
}

.dropdown-list {
    float: left;
    width: 100%;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
	background-color:#fff;
} 

.dropdown-list input[type="search"] {
    padding: 10px 5%;
	width:90%;
 }
    
 .dropdown-list ul {
	margin: 10px 0 10px -30px;
	max-height: 200px;
	overflow-y: auto;
	list-style: none;
 }  
 
 .dropdown-list input[type="checkbox"] {
	position: relative;
	top: 2px;
}

.fader { 
	display: block;
	margin-bottom:1.5rem !important; 
	padding-left:0px !important;
	padding-right:0px !important;
}

.fader > a {
    position: relative;
    top: 0; 
    left: 0;
    display: none;
}

.fader_sidebar { 
	display: block; 
}

.fader_sidebar > a {
    position: relative;
    top: 0; 
    left: 0;
    display: none;
}

